/* styles */
@font-face {
font-family: "Shrek";
src: url("css/fonts/Shrek.eot");
src: 
url("css/fonts/Shrek.woff") format("woff"),
url("css/fonts/Shrek.otf") format("opentype"),
url("css/fonts/Shrek.svg") format("svg");
}

a {
  color: #3b5998;
  font: Shrek;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font: Shrek;
}

.navbar-default {
  background-color: #085700;
  border-color: #3b5998;
  font-family: "Shrek";
}

.navbar-default .navbar-brand {
  color: #fff;
  font-family: "Shrek";
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  background-color: #067900;
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  font-family: "Shrek";
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  background-color: #067900;
  color: #fff;
}


