<h1> Shrek </h1>
<div class="row">
  <% for p in @projects do %>
    <div class="col-md-4">
      <%= image_tag p.picture.attached? ? p.picture : "", class: "img img-responsive" %>
      <h2><%= link_to p.title, p %></h2>
      <p><%= markdown(p.description) %></p>
    </div>
  <% end %>
</div>