<!DOCTYPE html>
<html>
<head>
  <title>ShreksSwamp</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Shrek's Swamp</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html">Home</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li><a href="index.html">Logout</a></li>
        <li><a href="blacklist.html">Black List</a></li>
        <li><a href="whoareyou.html">Who are you?</a></li>

      </ul>
    </div>
  </nav>
  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- edit profile -->

        <!-- ./edit profile -->
      </div>
      <div class="col-md-8">
        <!-- user profile -->
        <div class="media">
          <div class="media-left">
            <img src="img/Shrek enojado.png" class="media-object" style="width: 200px; height: 150px;">
          </div>
          <div class="media-body">
            <h2 class="media-heading">Jaime Contardo</h2>
            <p>Status: Ingenieria Uandes, Location: Las Condes </p>
          </div>
        </div>
        <!-- user profile -->

        <hr>

        <!-- timeline -->
        <div>
          <!-- post -->
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Innapropiate Post</p>
            </div>
            <div class="panel-footer">
              <span>Posted 2019-4-27 20:45:01 by Jaime Contardo</span> 
              <span class="pull-right"><a class="text-success" href="#">[Delete Post]</a></span>
              <span class="pull-right"><a href="#">[Profile]</a></span>
              <span class="pull-right"><a class="text-danger" href="#">[Delete User]</a></span>
            </div>
          </div>
          <!-- ./post -->
        </div>
        <!-- ./timeline -->
     
      </div>
    <div class="row">
      <div class="col-md-3">
        <!-- edit profile -->

        <!-- ./edit profile -->
      </div>
      <div class="col-md-8">      
      
        <!-- user profile -->
        <div class="media">
          <div class="media-left">
            <img src="img/shrek enojado.png" class="media-object" style="width: 200px; height: 150px;">
          </div>
          <div class="media-body">
            <h2 class="media-heading">Roberto Cruz</h2>
            <p>Status: Ingenieria Uandes, Location: Paine </p>
          </div>
        </div>
        <!-- user profile -->

        <hr>

        <!-- timeline -->
        <div>
          <!-- post -->
          <div class="panel panel-default">

            <div class="panel-body">
              <p>Innapropiate Post</p>
            </div>
            <div class="panel-footer">
              <span>Posted 2019-5-9 20:45:01 by Roberto Cruz</span> 

              <span class="pull-right"><a class="text-success" href="#">[Delete Post]</a></span>
              <span class="pull-right"><a href="#">[Profile]</a></span>
              <span class="pull-right"><a class="text-danger" href="#">[Delete User]</a></span>
            </div>
          </div>
          <!-- ./post -->
        </div>
        <!-- ./timeline -->
      </div>

    </div>
  </main>
  <!-- ./main -->
  <main class="container">
    
  </main>
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      <i>ShreksSwamp - Made by RobertoCruz and JaimeContardo</i>
    </ul>
  </footer>
  <!-- ./footer -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>