<!DOCTYPE html>
<html>
<head>
  <title>ShreksSwamp</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Shrek's Swamp</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html">Home</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li><a href="index.html">Logout</a></li>
        <li><a href="blacklist.html">Black List</a></li>
        <li><a href="whoareyou.html">Who are you?</a></li>

      </ul>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- edit profile -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><b>Edit profile<b></h4>
            <form method="post" action="">
              <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Name" value="">
              </div>

              <div class="form-group">
                <input class="form-control" type="text" name="biography" placeholder="Biography" value="">
              </div>

               <div class="form-group">
                <input class="form-control" type="text" name="location" placeholder="Location" value="">
              </div>  
              <div class="media-left">
                <img src="img/location.png" class="media-object" style="width: 180px; height: 130px;">
              </div>              

              <div class="form-group">
                <input class="form-control" type="text" name="userphoto" placeholder="User Photo" value="">
              </div> 


        


              <div class="media-left">
                <img src="img/photouser.png" class="media-object" style="width: 160px; height: 140px;">
              </div>     


              <div class="form-group">
                <input class="btn btn-primary" type="submit" name="update_profile" value="Save">
              </div>
            </form>
          </div>
        </div>
        <!-- ./edit profile -->
      </div>
      <div class="col-md-6">
        <!-- user profile -->
        <div class="media">
          <div class="media-left">
            <img src="img/lord.png" class="media-object" style="width: 128px; height: 128px;">
          </div>
          <div class="media-body">
            <h2 class="media-heading"><b>Lord Farquad<b></h2>
            <i>Status: Bring me my mirror!, Location: Far Far Away</i>
          </div>
        </div>
        <!-- user profile -->

        <hr>

        <!-- timeline -->
        <div>
          <!-- post -->
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>First Post</h3>
              <p> ------------------------------</p>
              <p>Hello everybody, this is my first post, I hope you like it. On December 25 of last year...</p>
            </div>
            <div class="panel-footer">
              <span>Posted 2017-5-27 20:45:01 by Lord Farquad</span> 
              <span class="pull-right"><a class="text-danger" href="#">[Delete]</a></span>
              <span class="pull-right"><a class="text-danger" href="#">[See more]</a></span>
            </div>
          </div>
          <!-- ./post -->
        </div>
        <!-- ./timeline -->
      </div>
      <div class="col-md-3">
        <!-- friends -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><b>Friends requests<b></h4>
            <ul>
              <li>
                <a href="#">Pinoccio</a> 
                <a class="text-success" href="#">[Accept]</a> 
                <a class="text-danger" href="#">[Decline]</a>
              </li>
              <li>
                <a href="#">Ozuna</a> 
                <a class="text-success" href="#">[Accept]</a> 
                <a class="text-danger" href="#">[Decline]</a>
              </li>
              <li>
                <a href="#">Fiona</a> 
                <a class="text-success" href="#">[Accept]</a> 
                <a class="text-danger" href="#">[Decline]</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ./friends -->
      </div>
    </div>
  </main>
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      <i>ShreksSwamp - Made by RobertoCruz and JaimeContardo</i>
    </ul>
  </footer>
  <!-- ./footer -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>


</body>


</html>