<!DOCTYPE html>
<html>
<head>
  <title>ShreksSwamp</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Shrek's Swamp</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html">Home</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li><a href="index.html">Logout</a></li>
        <li><a href="blacklist.html">Black List</a></li>
        <li><a href="whoareyou.html">Who are you?</a></li>
      </ul>
    </div>
  </nav>
  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- edit profile -->

        <!-- ./edit profile -->
      </div>
      <div class="col-md-8">
        <!-- user profile -->
        <div class="media">

          <div class="media-body">
            <h2 class="media-heading">WHO ARE YOU?</h2>
            
          </div>
        </div>
        <!-- user profile -->

        <hr>

        <!-- timeline -->
        <div>
          <!-- post -->

          <!-- ./post -->
        </div>
        <!-- ./timeline -->
     
      </div>

      
    </div>
  </main>
  <!-- ./main -->
  <main class="container">
    
  </main>
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      <li>Shrek Swamp is a website where you can give your opinion about what's bothering you, complaints about life, services, authorities, institutions, etc. You can share opinions with more people and be able to comment on them at the same time.


      If you are tired, angry and something bothers you, this is the right page!
      </li>
    </ul>
  </footer>
  <!-- ./footer -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>